button {
  display: block;
  padding: var(--spacing-3) var(--spacing-8);
  font-family: var(--font-family-base);
  font-size: 1em;
  color: var(--text-on-accent);
  background: var(--color-accent);
  border: 3px solid var(--color-accent-alternative);
  transition: background-color var(--transition);

  &:hover {
    background: var(--color-accent-alternative);
  }
}

a {
  color: currentcolor;
}

.more-link {
  display: none;
}
