.svg {
  position: absolute;
  inset: auto 0 -1px;
  display: block;
  fill: var(--theme-icon-fill, var(--color-dominant-alternative));
  scale: var(--theme-icon-scale-x, 1) 1;

  + .svg {
    fill: var(--color-dominant);
    scale: 1 -1;
  }
}

.wrapper {
  position: relative;
  padding-block-end: 4vw;
  background: var(--color-dominant);

  &:nth-child(even) {
    --theme-icon-fill: var(--color-dominant);
    --theme-icon-scale-x: -1;

    background: var(--color-dominant-alternative);
  }

  &:last-child .svg {
    display: none;
  }
}
