.wrapper {
  position: relative;
  padding-block-end: 4vw;
  background: var(--color-dominant);

  &:nth-child(even) {
    --theme-icon-fill: var(--color-dominant);
    --theme-icon-scale-x: -1;

    background: var(--color-dominant-alternative);
  }
}
