{
  "plugins": ["stylelint-use-logical"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-vue",
    "@stylistic/stylelint-config",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "csstools/use-logical": "always"
  }
}
