:root {
  color-scheme: light dark;
  interpolate-size: allow-keywords;
}

::selection {
  color: var(--text-on-secondary);
  background: var(--color-secondary);
}

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text-on-secondary);
  background: url("/images/noise.svg") repeat;
}

ul,
ol {
  padding-inline-start: 1rem;
  margin: 0 0 var(--spacing-4);
  list-style-position: outside;
}

figure {
  display: block;
  margin: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

dl {
  margin: 0 0 var(--spacing-4);
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 0 var(--spacing-2);
}

.featured-image {
  @mixin corners var(--spacing-1);

  overflow: hidden;
  border: 2px solid var(--color-secondary);
}
