.footer {
  position: relative;
  display: block;
  padding-block: var(--spacing-8) var(--spacing-12);
  color: var(--text-on-secondary);
  background: var(--color-secondary);
}

.svg {
  position: absolute;
  inset: -9vw 0 auto;
  display: block;
  fill: var(--color-secondary);
  scale: -1 1;
}

.list {
  padding-inline-start: 0;
  margin-block-end: 0;
  list-style: none outside;
}

.list-item {
  margin-block-end: var(--spacing-2);
}

.nav {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  gap: var(--spacing-8);
}
