.header {
  position: relative;
  display: block;
  color: var(--text-on-secondary);
  background: var(--color-secondary);
}

.svg {
  position: absolute;
  inset: calc(100% - 1px) 0 auto;
  z-index: 99;
  display: block;
  fill: var(--color-secondary);
  scale: 1 -1;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-4);
  justify-content: space-between;
  padding-inline-start: 0;
  margin-block-end: 0;
  list-style: none outside;
}

.sub-list {
  position: absolute;
  inset: 100% auto auto 0;
  z-index: 9;
  display: none;
  padding: var(--spacing-2) 0;
  color: var(--text-on-secondary);
  white-space: nowrap;
  list-style: none outside;
  background: var(--color-secondary);
}

.list-item {
  position: relative;
  padding-block: var(--spacing-4);

  &:hover .sub-list {
    display: block;
  }
}

.sub-list-link {
  display: block;
  padding: var(--spacing-1) var(--spacing-4);
}
