.list {
  display: grid;
  gap: var(--spacing-8);
  padding-inline-start: 0;
  list-style: none outside;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
}

.list-item {
  container-name: achive-list;
  container-type: inline-size;
}

.wrapper {
  padding-block: var(--spacing-8);
}

.list-item-wrapper {
  display: grid;
  gap: var(--spacing-4);

  &:has(.highlights) {
    padding-block: var(--spacing-8);
  }

  @container achive-list (width > 32em) {
    grid-template-columns: 12em auto;
  }

  @container achive-list (width > 36em) {
    grid-template-columns: 16em auto;
    gap: var(--spacing-6);
  }
}

.image {
  display: block;
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16 / 9;
  margin-block-start: var(--spacing-2);
  object-fit: cover;
}
