.image {
  margin-block: var(--spacing-12);

  img {
    display: block;
    inline-size: 100%;
    block-size: auto;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-2);
  margin-block: var(--spacing-12);

  &:nth-child(3n) {
    grid-column: span 2;
  }

  .image {
    margin: 0;
  }

  figure {
    block-size: 100%;
  }

  img {
    block-size: 100%;
    object-fit: cover;
  }

  @media (width >= 786px) {
    grid-template-columns: repeat(6, 1fr);

    .image {
      &:nth-child(8n + 1),
      &:nth-child(8n + 5) {
        grid-row: span 2;
        grid-column: span 4;
      }

      &:nth-child(8n + 2),
      &:nth-child(8n + 3),
      &:nth-child(8n + 4),
      &:nth-child(8n + 6) {
        grid-column: span 2;
      }

      &:nth-child(8n + 7),
      &:nth-child(8n + 8) {
        grid-column: span 3;
      }
    }
  }
}
