.list {
  display: grid;
  gap: var(--spacing-4);
  padding-inline-start: 0;
  list-style: none outside;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
}

.list-item {
  aspect-ratio: 3 / 4;
  position: relative;
}

.title {
  position: absolute;
  inset: auto 0 0;
  padding: var(--spacing-2);
  margin-bottom: 0;
  background-color: rgba(0 0 0 / 50%);
}

.link {
  text-decoration: none;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
