:root {
  /* Light theme */
  --color-dominant-theme-light: oklch(55.13% 0.1407 245.66deg);
  --color-secondary-theme-light: oklch(35.73% 0.087 243.3936deg);
  --color-accent-theme-light: oklch(55.12% 0.1407 245.66deg);
  --text-on-dominant-theme-light: oklch(35.73% 0.087 243.3936deg);
  --text-on-secondary-theme-light: oklch(93.2% 0.0375 237.0489deg);
  --text-on-accent-theme-light: oklch(93.2% 0.0375 237.0489deg);

  /* Dark theme */
  /* #22262A */
  /* #22262A */
  /* #22262A */
  --color-dominant-theme-dark: oklch(0.3182 0.0113 248.18);
  --color-secondary-theme-dark: oklch(0.2662 0.0095 248.18);
  --color-accent-theme-dark: oklch(0.4578 0.1729 15.42);
  --text-on-dominant-theme-dark: oklch(100% 0 0deg);
  --text-on-secondary-theme-dark: oklch(100% 0 0deg);
  --text-on-accent-theme-dark: oklch(0% 0 0deg);

  /* Set colors */
  --color-dominant:
    light-dark(
      var(--color-dominant-theme-light),
      var(--color-dominant-theme-dark)
    );
  --color-secondary:
    light-dark(
      var(--color-secondary-theme-light),
      var(--color-secondary-theme-dark)
    );
  --color-accent:
    light-dark(
      var(--color-accent-theme-light),
      var(--color-accent-theme-dark)
    );
  --text-on-dominant:
    light-dark(
      var(--text-on-dominant-theme-light),
      var(--text-on-dominant-theme-dark)
    );
  --text-on-secondary:
    light-dark(
      var(--text-on-secondary-theme-light),
      var(--text-on-secondary-theme-dark)
    );
  --text-on-accent:
    light-dark(
      var(--text-on-accent-theme-light),
      var(--text-on-accent-theme-dark)
    );

  /* Tints */
  --color-dominant-alternative-theme-light: oklch(from var(--color-dominant) calc(l - 0.05) c h);
  --color-secondary-alternative-theme-light:
    oklch(
      from var(--color-secondary) calc(l - 0.1) c h
    );
  --color-accent-alternative-theme-light:
    oklch(
      from var(--color-accent) calc(l - 0.1) c h
    );
  --color-dominant-alternative-theme-dark: oklch(from var(--color-dominant) calc(l - 0.05) c h);
  --color-secondary-alternative-theme-dark:
    oklch(
      from var(--color-secondary) calc(l + 0.1) c h
    );
  --color-accent-alternative-theme-dark:
    oklch(
      from var(--color-accent) calc(l + 0.1) c h
    );

  /* Tints */
  --color-dominant-alternative:
    light-dark(
      var(--color-dominant-alternative-theme-light),
      var(--color-dominant-alternative-theme-dark)
    );
  --color-secondary-alternative:
    light-dark(
      var(--color-secondary-alternative-theme-light),
      var(--color-secondary-alternative-theme-dark)
    );
  --color-accent-alternative:
    light-dark(
      var(--color-accent-alternative-theme-light),
      var(--color-accent-alternative-theme-dark)
    );
}
